<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Creating Real-Time Charts with Flask</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="llmap" style="width: 400px; height: 400px;"></div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

  <script>
    $(document).ready(function () {
      const config = {
        type: "line",
        data: {
          labels: [],
          datasets: [],
        },
        options: {
          animation: {
            duration: 0
          },
          responsive: true,
          title: {
            display: true,
            text: "Node CPU usage",
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Time",
              },
            }, ],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Value",
              },
            }, ],
          },
        },
      };


      function getRandomColor() {
        // reference: https://stackoverflow.com/questions/25594478/different-color-for-each-bar-in-a-bar-chart-chartjs
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      const context = document.getElementById("canvas").getContext("2d");
      const lineChart = new Chart(context, config);

      axios.get("/api/nodes").then((nodes) => {
        hostname_idx = {}

        idx = 0
        for (node of nodes.data) {
          config.data.datasets.push({
            label: node.hostname,
            backgroundColor: getRandomColor(),
            borderColor: getRandomColor(),
            data: [],
            fill: false,
          });
          hostname_idx[node.hostname] = idx

          const source = new EventSource(`/api/live/${node.hashId}/metrics`);
          source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
              config.data.labels.shift();
              config.data.datasets[hostname_idx[node.hostname]].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[hostname_idx[node.hostname]].data.push(data.cpu_percent);
            lineChart.update();
          };
          idx += 1;
        }
      })
      /*
      BASECOORDS = [-13.9626, 33.7741];

      function makeMap() {
        var TILE_URL = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        var MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        mymap = L.map('llmap').setView(BASECOORDS, 8);
        L.tileLayer(TILE_URL, {
          attribution: MB_ATTR
        }).addTo(mymap);
      }

      var layer = L.layerGroup();
      makeMap();*/
    });
  </script>
</body>

</html>