<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Creating Real-Time Charts with Flask</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div id="metrics-wrapper" class="col-8">

      </div>
    </div>
    <div class="row">
      <div id="llmap" style="width: 400px; height: 400px;"></div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

  <script>
    $(document).ready(function () {
      const defaultConfig = {
        type: "line",
        data: {
          labels: [],
          datasets: [{
            label: "CPU (%)",
            backgroundColor: "orange",
            borderColor: "orange",
            data: [],
            fill: false,
          }, {
            label: "MEM (%)",
            backgroundColor: "blue",
            borderColor: "blue",
            data: [],
            fill: false,
          }],
        },
        options: {
          animation: {
            duration: 0
          },
          responsive: true,
          title: {
            display: true,
            text: "",
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Time",
              },
            }, ],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Value",
              },
            }, ],
          },
        },
      };

      function getRandomColor() {
        // reference: https://stackoverflow.com/questions/25594478/different-color-for-each-bar-in-a-bar-chart-chartjs
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }

      /**
            <
            div class = "card" >
              <
              div class = "card-body" >
              <
              canvas id = "canvas" > < /canvas> < /
            div > <
              /div>**/

      const wrapper = document.getElementById("metrics-wrapper");
      const configs = {}
      const lineCharts = {}

      axios.get("/api/nodes").then((nodes) => {
        for (node of nodes.data) {
          card = document.createElement("div");
          card.classList.add('card');

          cardBody = document.createElement("div");
          cardBody.classList.add("card-body");

          canvas = document.createElement("canvas");

          cardBody.appendChild(canvas);
          card.appendChild(cardBody);
          wrapper.appendChild(card)

          context = canvas.getContext("2d");
          config = JSON.parse(JSON.stringify(defaultConfig))

          lineChart = new Chart(context, config);
          configs[node.hashId] = config;
          lineCharts[node.hashId] = lineChart;

          source = new EventSource(`/api/live/${node.hashId}/metrics`);
          source.onmessage = function (event) {
            const data = JSON.parse(event.data);

            if (configs[data.id].data.labels.length === 20) {
              configs[data.id].data.labels.shift();
              configs[data.id].data.datasets[0].data.shift();
              configs[data.id].data.datasets[1].data.shift();
            }
            configs[data.id].data.labels.push(data.time);
            configs[data.id].data.datasets[0].data.push(data.cpu_percent);
            configs[data.id].data.datasets[1].data.push(data.mem_percent);
            lineChart.update();
          };
        }
      })
      /*
      BASECOORDS = [-13.9626, 33.7741];

      function makeMap() {
        var TILE_URL = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        var MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        mymap = L.map('llmap').setView(BASECOORDS, 8);
        L.tileLayer(TILE_URL, {
          attribution: MB_ATTR
        }).addTo(mymap);
      }

      var layer = L.layerGroup();
      makeMap();*/
    });
  </script>
</body>

</html>